body {
    overflow: hidden;
}

/* 1st Page CSS */
.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}

#button {
    background-color: rgb(41, 218, 41);
    color: white;
    width: 80px;
    height: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    border-radius: 15px;
    top: 3.5%;
    left: 92.5%;
    text-decoration: none;
    z-index: 2;
}
#button:hover {
    background-color: green;
}

    @keyframes moveDown {
        0%   { top: -250px; }
        100% { top: 50px; }
    }

        #title {
        position: absolute;
        animation: moveDown 3.5s ease-in-out forwards;
        top: -250px;
        left: 37.50%;
        width: 800px;
        height: 25px;
        color: gold;
        font-family: 'Times New Roman', Times, serif;
        font-size: 60px;
        text-decoration: underline;
        text-align: center;
        z-index: 2;
        }
        #title:first-letter {
        font-size: 5rem;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 1;
        }
/* 2nd Page CSS */
        #nextbutton {
            background-color: rgb(41, 218, 41);
            color: white;
            width: 80px;
            height: 30px;
            border-width: 2px;
            border-style: solid;
            border-color: black;
            text-align: center;
            padding-top: 10px;
            position: absolute;
            border-radius: 15px;
            top: 3.5%;
            left: 92.5%;
            text-decoration: none;
            z-index: 2;
        }
        #backbutton {
            background-color: rgb(41, 218, 41);
            color: white;
            width: 80px;
            height: 30px;
            border-width: 2px;
            border-style: solid;
            border-color: black;
            text-align: center;
            padding-top: 10px;
            position: absolute;
            border-radius: 15px;
            top: 3.5%;
            left: 86%;
            text-decoration: none;
            z-index: 2;
        }

        #table {
            position: absolute;
            height: 500px;
            width: 800px;
            transform: scale(0.85);
            top: 350px;
            left: 750px;
            background-image: url('table.png');
            background-repeat: no-repeat;
            z-index: 2;
        }

        #chair {
            position: absolute;
            height: 525px;
            width: 800px;
            transform: scale(0.85);
            top: 250px;
            left: 430px;
            background-image: url('chair.png');
            background-repeat: no-repeat;
            z-index: 1;
        }

        #bbear {
            position: absolute;
            height: 525px;
            width: 800px;
            transform: scale(0.5);
            top: 130px;
            left: 410px;
            background-image: url('bbearsitting.png');
            background-repeat: no-repeat;
            z-index: 1;
        }

        @keyframes moveright {
        0%   { left: 1550px; }
        100% { left: 1100px; }
    }

        #pbear {
            position: relative;
            height: 600px;
            width: 800px;
            animation: moveright 3.5s ease-in-out forwards;
            transform: scale(1.1);
            top: -350px;
            left: 1500px;
            background-image: url('pbear.png');
            background-repeat: no-repeat;
            z-index: 1;
        }

        @keyframes moveleft {
        0%   { left: -500px; }
        80% { left: 600px; }
        100% {left: 250px;}
    }

        #mbear {
            position: relative;
            height: 600px;
            width: 800px;
            transform: scale(1.1);
            animation: moveleft 3s ease-in-out forwards;
            top: -900px;
            left: -500px;
            background-image: url('mbear.png');
            background-repeat: no-repeat;
            z-index: 1;
        }

        #soup1 {
            position: absolute;
            height: 500px;
            width: 800px;
            transform: scale(0.25);
            top: 150px;
            left: 810px;
            background-image: url('soupbowl.png');
            background-repeat: no-repeat;
            z-index: 2;
        }

        #soup2 {
            position: absolute;
            height: 500px;
            width: 800px;
            transform: scale(0.25);
            top: 175px;
            left: 945px;
            background-image: url('soupbowl.png');
            background-repeat: no-repeat;
            z-index: 2;
        }

        @keyframes movingLeft {
        0%   { left: -545px; }
        0%   {top: 130px; }
        90% { left: 650px; }
        100% {left: 650px; }
        100% {top: 160px; }
    } 
        #soup3 {
            position: relative;
            height: 500px;
            width: 800px;
            animation: movingLeft 3.5s ease-in-out forwards;
            transform: scale(0.25);
            top: 130px;
            left: -545px;
            background-image: url('soupbowl.png');
            background-repeat: no-repeat;
            z-index: 2;
        }

#nextbutton:hover {
    background-color: green;
}
#backbutton:hover {
    background-color: green;
}
/* 3rd CSS Page */
        #nextbutton2 {
            background-color: rgb(41, 218, 41);
            color: white;
            width: 80px;
            height: 30px;
            border-width: 2px;
            border-style: solid;
            border-color: black;
            text-align: center;
            padding-top: 10px;
            position: absolute;
            border-radius: 15px;
            top: 3.5%;
            left: 92.5%;
            text-decoration: none;
            z-index: 2;
        }
        #backbutton2 {
            background-color: rgb(41, 218, 41);
            color: white;
            width: 80px;
            height: 30px;
            border-width: 2px;
            border-style: solid;
            border-color: black;
            text-align: center;
            padding-top: 10px;
            position: absolute;
            border-radius: 15px;
            top: 3.5%;
            left: 86%;
            text-decoration: none;
            z-index: 2;
        }

#nextbutton2:hover {
    background-color: green;
}
#backbutton2:hover {
    background-color: green;
}

        @keyframes walking1 {
        0% {left: 110px;}
        100% {left: -1400px;}
        }
        #bbear2 {
            position: relative;
            height: 525px;
            width: 800px;
            transform: scale(0.2);
            animation: walking1 5.5s ease-in forwards;
            top: 430px;
            left: 110px;
            background-image: url('bbearsitting.png');
            background-repeat: no-repeat;
            z-index: 2;
        }

        @keyframes walking2 {
        0% {left: 310px;}
        100% {left: -1400px;}
        }
        #mbear2 {
            position: relative;
            height: 525px;
            width: 800px;
            transform: scale(0.5);
            animation: walking2 5.5s ease-in forwards;
            animation-delay: 0.5s;
            top: -170px;
            left: 310px;
            background-image: url('mbear.png');
            background-repeat: no-repeat;
            z-index: 2;
        }

        @keyframes walking3 {
        0% {left: 810px;}
        100% {left: -1400px;}
        }

        #pbear2 {
            position: relative;
            height: 525px;
            width: 400px;
            transform: scale(0.6);
            animation: walking3 5.5s ease-in forwards;
            animation-delay: 0.5s;
            top: -730px;
            left: 810px;
            background-image: url('pbear.png');
            background-repeat: no-repeat;
            z-index: 2;
        }

        @keyframes walking4 {
        0% {top: -400px;}
        100% {top: -1250px; visibility: hidden;}
        }
        #goldie {
            position: relative;
            height: 555px;
            width: 800px;
            transform: scale(0.3);
            animation: walking4 4.5s ease-in-out forwards;
            animation-delay: 3.5s;
            top: -400px;
            left: 550px;
            background-image: url('goldielocks.png');
            background-repeat: no-repeat;
            z-index: 2;
        }

        @keyframes walking5 {
        0% {left: 550px; visibility: visible;}
        100% {left: 100px; visibility: hidden;}
        }
        #goldie2 {
            position: relative;
            height: 555px;
            width: 800px;
            transform: scale(0.3);
            animation: walking5 5.5s ease-in-out forwards;
            animation-delay: 8s;
            visibility: hidden;
            top: -1800px;
            left: 550px;
            background-image: url('goldielocks.png');
            background-repeat: no-repeat;
            z-index: 2;
        }

/* 4th CSS Page */
        #nextbutton3 {
            background-color: rgb(41, 218, 41);
            color: white;
            width: 80px;
            height: 30px;
            border-width: 2px;
            border-style: solid;
            border-color: black;
            text-align: center;
            padding-top: 10px;
            position: absolute;
            border-radius: 15px;
            top: 3.5%;
            left: 92.5%;
            text-decoration: none;
        }
        #backbutton3 {
            background-color: rgb(41, 218, 41);
            color: white;
            width: 80px;
            height: 30px;
            border-width: 2px;
            border-style: solid;
            border-color: black;
            text-align: center;
            padding-top: 10px;
            position: absolute;
            border-radius: 15px;
            top: 3.5%;
            left: 86%;
            text-decoration: none;
        }
#nextbutton3:hover {
    background-color: green;
}
#backbutton3:hover {
    background-color: green;
}
        #table2 {
            position: absolute;
            height: 500px;
            width: 800px;
            transform: scale(1);
            top: 45vh;
            left: 23vw;
            background-image: url('table.png');
            background-repeat: no-repeat;
            z-index: 1;
        }

        @keyframes slurping2 {
            0% {left: 26vw; top: 14vh}
            20% {left: -7vw; top: 30vh;}
            30% {left: -7vw; top: 35vh;}
            50% {left: -7vw; top: 30vh;}
            70% {left: -7vw; top: 35vh;}
            90% {left: -7vw; top: 30vh;}
            100% {left: 26vw; top: 14vh;}
        }

        #soup4 {
            position: absolute;
            height: 500px;
            width: 800px;
            transform: scale(0.3);
            animation: slurping2 6.5s ease-in-out forwards;
            animation-delay: 13.5s;
            top: 14vh;
            left: 26vw;
            background-image: url('soupbowl.png');
            background-repeat: no-repeat;
            z-index: 2;
        }

        @keyframes slurping3 {
            0% {left: 37vw; top: 17vh}
            20% {left: -7vw; top: 30vh;}
            30% {left: -7vw; top: 35vh;}
            50% {left: -7vw; top: 30vh;}
            70% {left: -7vw; top: 35vh;}
            90% {left: -7vw; top: 30vh;}
            100% {left: 37vw; top: 17vh;}
        }

        #soup5 {
            position: absolute;
            height: 500px;
            width: 800px;
            transform: scale(0.3);
            animation: slurping3 6.5s ease-in-out forwards;
            animation-delay: 23.5s;
            top: 17vh;
            left: 37vw;
            background-image: url('soupbowl.png');
            background-repeat: no-repeat;
            z-index: 2;
        }

        @keyframes slurping1 {
            0% {left: 15vw; top: 15vh}
            20% {left: -7vw; top: 30vh;}
            30% {left: -7vw; top: 35vh;}
            50% {left: -7vw; top: 30vh;}
            70% {left: -7vw; top: 35vh;}
            90% {left: -7vw; top: 30vh;}
            100% {left: 15vw; top: 15vh;}
        }

        #soup6 {
            position: relative;
            height: 500px;
            width: 800px;
            transform: scale(0.3);
            animation: slurping1 6.5s ease-in-out forwards;
            animation-delay: 3.5s;
            top: 15vh;
            left: 15vw;
            background-image: url('soupbowl.png');
            background-repeat: no-repeat;
            z-index: 2;
        }

        @keyframes Movingleft {
            0% {left: -30vw;}
            100% {left: 0vw;}
        }

        #goldie3 {
            position: absolute;
            height: 545px;
            width: 800px;
            transform: scale(0.9);
            animation: Movingleft 3.5s ease-in-out forwards;
            top: 29vh;
            left: -30vw;
            background-image: url('goldielocks.png');
            background-repeat: no-repeat;
            z-index: 1;
        }

        @keyframes fadeinfire {
            0% {top: 30vh; opacity: 0; visibility: visible;}
            100% {top: -20vh; opacity: 1;}
        }

        #fire {
            position: absolute;
            height: 545px;
            width: 800px;
            transform: scale(0.7);
            animation: fadeinfire 3.5s ease-in-out forwards;
            animation-delay: 10s;
            visibility: hidden;
            top: 30vh;
            left: -2vw;
            background-image: url('fire.png');
            background-repeat: no-repeat;
            z-index: 1;
        }

        @keyframes fadeinice {
            0% {top: 30vh; opacity: 0; visibility: visible;}
            100% {top: -20vh; opacity: 1;}
        }

        #snowflake {
            position: absolute;
            height: 545px;
            width: 800px;
            transform: scale(0.3);
            animation: fadeinice 3.5s ease-in-out forwards;
            animation-delay: 20s;
            visibility: hidden;
            top: 30vh;
            left: -5vw;
            background-image: url('snowflake.png');
            background-repeat: no-repeat;
            z-index: 1;
        }
/* CSS Page 5 */
        #nextbutton4 {
            background-color: rgb(41, 218, 41);
            color: white;
            width: 80px;
            height: 30px;
            border-width: 2px;
            border-style: solid;
            border-color: black;
            text-align: center;
            padding-top: 10px;
            position: absolute;
            border-radius: 15px;
            top: 3.5%;
            left: 92.5%;
            text-decoration: none;
        }
        #backbutton4 {
            background-color: rgb(41, 218, 41);
            color: white;
            width: 80px;
            height: 30px;
            border-width: 2px;
            border-style: solid;
            border-color: black;
            text-align: center;
            padding-top: 10px;
            position: absolute;
            border-radius: 15px;
            top: 3.5%;
            left: 86%;
            text-decoration: none;
        }
#nextbutton4:hover {
    background-color: green;
}
#backbutton4:hover {
    background-color: green;
}
        #greenbed {
            position: absolute;
            height: 500px;
            width: 800px;
            transform: scale(0.6);
            top: 25vh;
            left: 25vw;
            background-image: url('greenbed.png');
            background-repeat: no-repeat;
            z-index: 1;
        }
        #pinkbed {
            position: absolute;
            height: 500px;
            width: 800px;
            transform: scale(0.6);
            top: 35vh;
            left: 43vw;
            background-image: url('pinkbed.png');
            background-repeat: no-repeat;
            z-index: 1;
        }

        #bluebed {
            position: absolute;
            height: 500px;
            width: 800px;
            transform: scale(0.45);
            top: 45vh;
            left: 55vw;
            background-image: url('bluebed.png');
            background-repeat: no-repeat;
            z-index: 1;
        }

        @keyframes checkingbeds {
            0% {left: 1vw; top: 20vh; transform:rotate(0deg) scale(0.35);}
            5% {left: 13vw; top: 30vh; transform:rotate(0deg) scale(0.35);}
            10% {left: 13vw; top: 20vh; transform:rotate(0deg) scale(0.35);}
            15% {left: 13vw; top: 30vh; transform:rotate(0deg) scale(0.35);}
            20% {left: 13vw; top: 20vh; transform:rotate(0deg) scale(0.35);}
            25% {left: 13vw; top: 30vh; transform:rotate(0deg) scale(0.35);}
            30% {left: 35vw; top: 45vh; transform:rotate(0deg) scale(0.35);}
            35% {left: 35vw; top: 35vh; transform:rotate(0deg) scale(0.35);}
            40% {left: 35vw; top: 45vh; transform:rotate(0deg) scale(0.35);}
            45% {left: 35vw; top: 35vh;transform:rotate(0deg) scale(0.35);}
            50% {left: 35vw; top: 45vh; transform:rotate(0deg) scale(0.35);}
            60% {left: 50vw; top: 45vh; transform:rotate(0deg) scale(0.35);}
            100% {left: 55vw; top: 45vh; transform:rotate(90deg) scale(0.35);}
            }

        #goldie4 {
            position: absolute;
            height: 545px;
            width: 800px;
            animation: checkingbeds 13s ease forwards;
            transform: scale(0.35);
            animation-delay: 2.5s;
            top: 20vh;
            left: 1vw;
            background-image: url('goldielocks.png');
            background-repeat: no-repeat;
            z-index: 2;
        }
/* CSS Page 6 */

#nextbutton5:hover {
    background-color: green;
}
#backbutton5:hover {
    background-color: green;
}
        #nextbutton5 {
            background-color: rgb(41, 218, 41);
            color: white;
            width: 80px;
            height: 30px;
            border-width: 2px;
            border-style: solid;
            border-color: black;
            text-align: center;
            padding-top: 10px;
            position: absolute;
            border-radius: 15px;
            top: 3.5%;
            left: 92.5%;
            text-decoration: none;
        }
        #backbutton5 {
            background-color: rgb(41, 218, 41);
            color: white;
            width: 80px;
            height: 30px;
            border-width: 2px;
            border-style: solid;
            border-color: black;
            text-align: center;
            padding-top: 10px;
            position: absolute;
            border-radius: 15px;
            top: 3.5%;
            left: 86%;
            text-decoration: none;
        }
        #table3 {
            position: absolute;
            height: 500px;
            width: 800px;
            transform: scale(1);
            top: 55vh;
            left: 45vw;
            background-image: url('table.png');
            background-repeat: no-repeat;
            z-index: 2;
        }

        #soup7 {
            position: absolute;
            height: 500px;
            width: 800px;
            transform: scale(0.3);
            top: 24vh;
            left: 40vw;
            background-image: url('soupbowl.png');
            background-repeat: no-repeat;
            z-index: 2;
        }
        #soup8 {
            position: absolute;
            height: 500px;
            width: 800px;
            transform: scale(0.3);
            top: 22vh;
            left: 52vw;
            background-image: url('soupbowl.png');
            background-repeat: no-repeat;
            z-index: 2;
        }

        #soup9 {
            position: absolute;
            height: 500px;
            width: 800px;
            top: 35vh;
            left: 59vw;
            background-image: url('emptybowl.png');
            transform: rotate(65deg) scale(0.35);
            background-repeat: no-repeat;
            z-index: 2;
        }
        #brokenchair {
            position: absolute;
            height: 525px;
            width: 800px;
            transform: scale(0.85);
            top: 50vh;
            left: 40vw;
            background-image: url('brokenchair.png');
            background-repeat: no-repeat;
            z-index: 1;
        }

        @keyframes entering1 {
            0% {left: -30vw;}
            100% {left: 15vw;}
        }

        #bbear3 {
            position: absolute;
            height: 525px;
            width: 800px;
            transform: scale(0.5);
            animation: entering1 2.5s ease-in-out forwards;
            top: 50vh;
            left: -30vw;
            background-image: url('bbearsitting.png');
            background-repeat: no-repeat;
            z-index: 1;
        }

        @keyframes entering2 {
            0% {left: -30vw;}
            100% {left: 10vw;}
        }

        #mbear3 {
            position: absolute;
            height: 525px;
            width: 800px;
            transform: scale(0.9);
            animation: entering2 2.5s ease-in-out forwards;
            animation-delay: 2.5s;
            top: 37vh;
            left: -30vw;
            background-image: url('mbear.png');
            background-repeat: no-repeat;
            z-index: 1;
        }

        @keyframes entering3 {
            0% {left: -30vw;}
            100% {left: -1vw;}
        }

        #pbear3 {
            position: absolute;
            height: 525px;
            width: 800px;
            transform: scale(1);
            animation: entering3 2.5s ease-in-out forwards;
            animation-delay: 5s;
            top: 31vh;
            left: -30vw;
            background-image: url('pbear.png');
            background-repeat: no-repeat;
            z-index: 1;
        }

        @keyframes fadeinexclamationpoint1 {
            0% {top: 30vh; opacity: 0; visibility: visible;}
            100% {top: -10vh; opacity: 1;}
        }

        #exm1 {
            position: absolute;
            height: 545px;
            width: 800px;
            transform: scale(0.7);
            animation: fadeinexclamationpoint1 3.5s ease-in-out forwards;
            animation-delay: 7.5s;
            visibility: hidden;
            top: 30vh;
            left: 15vw;
            background-image: url('exclamationmark.png');
            background-repeat: no-repeat;
            z-index: 1;
        }

        @keyframes fadeinexclamationpoint2 {
            0% {top: 30vh; opacity: 0; visibility: visible;}
            100% {top: -20vh; opacity: 1;}
        }

        #exm2 {
            position: absolute;
            height: 545px;
            width: 800px;
            transform: scale(0.7);
            animation: fadeinexclamationpoint2 3.5s ease-in-out forwards;
            animation-delay: 7.5s;
            visibility: hidden;
            top: 30vh;
            left: 0vw;
            background-image: url('exclamationmark.png');
            background-repeat: no-repeat;
            z-index: 1;
        }
/* CSS Page 7 */
        #nextbutton6 {
            background-color: rgb(41, 218, 41);
            color: white;
            width: 80px;
            height: 30px;
            border-width: 2px;
            border-style: solid;
            border-color: black;
            text-align: center;
            padding-top: 10px;
            position: absolute;
            border-radius: 15px;
            top: 3.5%;
            left: 92.5%;
            text-decoration: none;
        }
        #backbutton6 {
            background-color: rgb(41, 218, 41);
            color: white;
            width: 80px;
            height: 30px;
            border-width: 2px;
            border-style: solid;
            border-color: black;
            text-align: center;
            padding-top: 10px;
            position: absolute;
            border-radius: 15px;
            top: 3.5%;
            left: 86%;
            text-decoration: none;
        }
#nextbutton6:hover {
    background-color: green;
}
#backbutton6:hover {
    background-color: green;
}

/* CSS Page 8 */

#backtostart:hover {
    background-color: green;
}
#backbutton7:hover {
    background-color: green;
}